<div>
<div id="header" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'">
            <div data-dojo-attach-point="featureNode"></div>
            <div data-dojo-attach-point="pagerNode"> 
                        <button data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:selectPrevious">
                            &lt; Previous
                        </button>
                        <button data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:selectNext">
                            Next &gt;
                        </button>
            </div>
        </div>  
        <div data-dojo-attach-point="identifyPanelNode" data-dojo-type="dijit/layout/ContentPane">
            
        </div>
</div>